/data/raw
/data/ref_genome
/results/index/
/scripts/STARsolo_STARsolo/
/scripts/STARsolo__STARgenome/
/scripts/Input_3K_PBMC.h5ad
/scripts/_umap_clustering.h5ad
/scripts/_umap_clustering_t_test.h5ad
/scripts/_umap_clustering_wilcoxon.h5ad
/results/DropletUtils/matrix.mtx


